<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="É o Bicho - Agropecuária" />
    <title>É O BICHO</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- CSS only -->
</head>
<body>
    <header id="wrap-header">
      <div class="container">
        <a href="{% url 'pet:form' %}"><img class="card-img-top" alt="logo" src="{% static 'img/logo.png'%}"></a>
      </div>  
        <!-- Nav Menu -->     
          <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pet:form' %}">Cadastrar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pet:InspecaoPet' %}">Inspeção Física</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"href="{% url 'pet:list' %}">Animais</a>
                  </li>
                  
                </div>    
              </div>
            </div>  
          </nav><!-- /NAV -->  

         
    </header><!-- /HEADER -->
    <main id="wrap-main">
      
      {% block content %} 
      {% endblock content %}


    </main><!-- /MAIN -->
    <footer id="wrap-footer">
        
    </footer><!-- /FOOTER -->
    
</body>
</html>
