{% extends 'base.html' %}
{% block content %}
<!-- FORM INSPEÇÃO FÍSICA E ESTETÍCA -->
<form class="container">
  <h3>Inspeção Físca/Estetíca</h3>
  <div class="form-row">
    <div class="col col-lg-6 mb-3">
      <h4>Inspeção do Pelo:</h4>
      
    </div>

    <div class="col col-lg-6 mb-3">
      <h4>Inspeção das Unhas:</h4>
      
    </div>

    <div class="col col-lg-6 mb-3">
      <h4>Inspeção dos olhos:</h4>
      
    </div>

    <div class="col col-lg-6 mb-3">
      <h4>Inspeção Bucal:</h4>
      
    </div>

    <div class="col col-lg-6 mb-3">
      <h4>Inspeção da Pele:</h4>
      
    </div>

    <div class="col col-lg-6 mb-3">
      <h4>Inspeção das patas:</h4>
      
    </div>
    
    <div class="col col col-lg-6 mb-3">
      <h4 class="text-center">Inspeção auricular:</h4>
      <div class="form-row">
        <input type="checkbox" class="checkbox" name="inflamação" placeholder="inflamação"><label>Inflamação<label>
      </div>
      <div class="form-row">
        <input type="checkbox" class="checkbox" name="infecção" placeholder="infecção"><label>Infecção</label>
      </div>
      <label>Observações:</label>
      <textarea class="form-control"></textarea>
    </div>
  
  </div>

 
  <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
</form>
{% endblock content %}