{% extends 'base.html' %}
{% block content %}
<!-- FORM INSPEÇÃO FÍSICA E ESTETÍCA -->
<form class="container">
  <h3>Inspeção Físca/Estetíca</h3>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Inspeção do Pelo:</label>
      
    </div>

    <div class="col-md-3 mb-3">
      <label>Inspeção das Unhas:</label>
      
    </div>

    <div class="col-md-3 mb-3">
      <label>Inspeção dos olhos:</label>
      
    </div>

    <div class="col-md-3 mb-3">
      <label>Inspeção Bucal:</label>
      
    </div>

    <div class="col-md-3 mb-3">
      <label>Inspeção da Pele:</label>
      
    </div>

    <div class="col-md-3 mb-3">
      <label>Inspeção das patas:</label>
      
    </div>
    <div class="col-md-3 mb-3">
      <label>Inspeção auricular:</label>
    </div>
  
  </div>

 
  <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
</form>
{% endblock content %}