{% extends 'base.html'%}
{% block content %}
<!-- FORM IDENTIFICAÇÃO DOS PETS -->
 
<form class="container">
  <br>
  <h2 class="">IDENTIFICAÇÃO DO PET</h2>
  <div class="form-row">
    <div class="col col-lg-5 mb-3">
      <label for="validationDefault01">Nome</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="Nome" placeholder="Nome" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Apelido</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Sobrenome" placeholder="Apelido" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefaultUsername">Aniversário</label>
      <div class="input-group">
        <input type="date" class="form-control" aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
  
    <div class="col-md-3 mb-3">
      <label for="validationDefault03">Idade</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="Idade" required>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationDefault03">Peso(kg):</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="kg" required>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationDefault04">Especie:</label>
        <select class="form-row form-control" id="exampleFormControlSelect1">
          <option>Cachorro</option>
          <option>Gato</option>
          <option>Cavalo</option>
          <option>Coelho</option>
          <option>Peixe</option>
        </select>
    </div>
      
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Raça:</label>
      <select class="form-row form-control" id="exampleFormControlSelect1">
        <option>Pastor Alemão</option>
        <option>Raça Indefinida</option>
        <option>Chiuaua</option>
        <option>Poodler</option>
        <option>São Bernardo</option>
      </select>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Temperamento:</label>
      <select class="form-row form-control" id="exampleFormControlSelect1">
        <option>Agressivo</option>
        <option>Manso</option>
        <option>Anti-social</option>
        <option>Social</option>
        <option>Agitado</option>
        <option>Calmo</option>
        <option>Introvertido</option>
        <option>Extrovertido</option>
        <option>Obediente</option>
        <option>Independente</option>
        <option>Curioso</option>
        <option>Indiferente</option>
        <option>Ousado</option>
        <option>Tímido</option>
      </select>
    </div>
 
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Pelagem:</label>
       <select class="form-row form-control" id="exampleFormControlSelect1">
        <option>Levemente Aspera</option>
        <option>Fios lisos e longos</option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
      </select>
    </div>
  
    <div class="col-md-3 mb-3">
      <label> Coloração:</label>
      <input type="text" class="form-control" name="">
    </div>
    
    <div class="col-md-3 mb-3">
      <label>Tamanho(cm):</label>
      <input type="text" class="form-control" name="">  
    </div>
    
    <div class="col-md-3 mb-3">
      <label>Caracteristicas:</label>
      <input type="text" class="form-control" name="">  
    </div>
    
    <div class="col-md-3 mb-3">
      <label>Observações:</label>
     
      <select class="form-row form-control">
        <option>leishmaniose</option>
        <option>Doença gastro intestinal</option>
        <option>Trauma cutaneo</option>
        <option>Hemorragia</option>
        
      </select>  
    </div>
  </div>
 	
   <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
</form><!-- /FORM IDENTIFICAÇÃO DOS PETS -->
<br>
{% endblock content%}