{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container"> 
	<h1 class="">Lista de Animais</h1>
	{% csrf_token %}
	<!--<div class="row">
		<div class="col-md-6 mb-3"><h3>Nomes</h3></div>
        <div class="col-md-6 mb-3"><h3>Espécies:</h3></div>
	</div>-->
	<div class="col-md-6">
	    <form class="row">
	    	{% for pet in object_list %}
	        <div class="text-uppercase col-md-6 mb-3">{{ pet.nome }}</div>
	        <a href="{% url 'pet:detail' pk=pet.id %}">Visualizar</a>
	        <a href="{% url 'pet:update' pk=pet.id %}">Editar</a>
	        <a href="{% url 'pet:delete' pk=pet.id %}">deletar</a>
	        {% endfor %}
	    </form>
	</div>
</div>
{% endblock %}