{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container"> 
	<h1 class="">Lista de Animais</h1>
	{% csrf_token %}
	<div class="col-lg-6">
	    <form class="form-row">
	    	{% for pet in object_list %}
	        <div class="text-uppercase col-md-3 mb-3">{{ pet.nome }}</div>
	        <div class="col-sm mb-3 ">
	        	<a class="btn btn-primary btn-md" href="{% url 'pet:detail' pk=pet.id %}">Visualizar</a>
	        </div>
	        <div class="col-sm mb-3 ">
	        	<a class="btn btn-primary btn-md" href="{% url 'pet:update' pk=pet.id %}">Editar</a>
	        </div>
	        <div class="col-sm mb-3 ">
	        	<a class="btn btn-primary btn-md" href="{% url 'pet:delete' pk=pet.id %}">Deletar</a>
	        </div>
	        {% endfor %}
	    </form>
	</div>
</div>
{% endblock %}