*{
	margin: 0px;
	padding: 0px;
}

#wrap-header{
 width: 100%;
 min-height: 100px;
 background: #1fb9b1;
 color: white;
 
}
#wrap-header img{
	display: block;
	width: 230px;
	padding: 15px 0;
}

#wrap-main{
	width: 90%;
	min-height: 400px;
	margin: 0 auto;
}


#wrap-footer{
	width: 100%;
	min-height: 150px;
	background: black;
	color: white;
}